
@import '../../utils/var.less';

.label0 {
  .btn-fill-style(#fff,@interspersed-color,24px,6px);
  border-radius: 0 8px 0 8px;
  display: inline-block;
}

.label1 {
  .btn-fill-style(#fff,@hint-clor,24px,6px);
  border-radius: 0 8px 0 8px;
  display: inline-block;
}

.label2 {
  .btn-fill-style(#fff,@warning-color,24px,6px);
  border-radius: 0 8px 0 8px;
  display: inline-block;
}

.label3  {
  .btn-fill-style(#fff,@text-assist-color,24px,6px);
  border-radius: 0 8px 0 8px;
  display: inline-block;
}

.label4 {
  .btn-fill-style(#fff,@text-assist-sub-color,24px,6px);
  border-radius: 0 8px 0 8px;
  display: inline-block;
}